body  {
    background-color: #747474;
    color: white;
    font-family: 'Poiret One', cursive;
}
.category-container {
    background: #272727;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
}
.vid-list {
    list-style-type: none;
}
blockquote.tiktok-embed {
    max-width: 50% !important;
    max-height: 50% !important;
}
/*.vid-list iframe{
    width: 125%;
    padding-bottom: 20px;
}*/

.videos-list{
    /*background-color: #333;*/
    overflow: auto;
    white-space: nowrap;
}

.videos-list li{
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    position: relative;
    top: 15px;
}

h1 {
   margin-left: 200px; 
   padding-bottom: -10px;
   margin-bottom: -10px;
   /*font-family: 'Amatic SC', cursive;*/
   font-family: 'Poiret One', cursive;
   
}
h2 {
    margin-left: 250px;
    padding-top: -10px;
    margin-top: -5px;
    /*font-family: 'Amatic SC', cursive;*/
   
}

h3 {
    margin-left: 22px;
    /*font-family: 'Amatic SC', cursive;*/
    font: bold;
    color: #14A76c;
  
}
button {
    margin-left: 35px;
    /*font-family: 'Amatic SC', cursive;*/
}
.header {
    background: linear-gradient(90deg, #14A76c, #1496a7, #925de7) center;
    border-radius: 20px 0px 0px 20px;
}

/*.try-grid {
    display: grid;
    grid-template-rows: minmax(300px, 350px);
}*/
.vid-url  {
    position: relative;
    top: 10px;
}