body  {
    background-color: #747474;
    color: white;
    font-family: 'Poiret One', cursive;
}
.category-container {
    background-color: #272727;
    border-radius: 10px;
}
.vid-list {
    list-style-type: none;
}
.tiktok-embed {
    max-width: 325px !important;
    height: 50% !important;
}

.videos-list{
    /*background-color: #333;*/
    overflow: auto;
    white-space: nowrap;
}

.videos-list li{
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

h1 {
   margin-left: 200px; 
   padding-bottom: -10px;
   margin-bottom: -10px;
   /*font-family: 'Amatic SC', cursive;*/
   font-family: 'Poiret One', cursive;
   
}
h2 {
    margin-left: 250px;
    padding-top: -10px;
    margin-top: -5px;
    /*font-family: 'Amatic SC', cursive;*/
   
}

h3 {
    margin-left: 22px;
    /*font-family: 'Amatic SC', cursive;*/
    font: bold;
    color: #14A76c;
  
}
button {
    margin-left: 35px;
    /*font-family: 'Amatic SC', cursive;*/
}
.header {
    background: #14A76c center;
    border-radius: 20px 0px 0px 20px;
}